
body{
	background-color: black;
	overflow: hidden;
	position: relative;
	width: 100vw;
	height: 100vh;
}

#footer{
  color:#232323 ;
  font-family: Arial;
  font-size: 14px;
  padding:10px;
  position: absolute;
  bottom: 0;left: 0;right: 0;
  z-index:1000;
  a{
    color:#000000;
    font-family: Arial;
    font-style:italic;
    text-decoration:none;
    font-weight:700;
  }

}
